/* --------------------------------------------------------- */
/* BASELINE.CSS						     */
/* --------------------------------------------------------- */

body { font-size: 12px; line-height: 1.3333333333333333em; }
h1, h2, h3, h4, h5, h6, p, blockquote {font-size:1em; line-height:1.3333333333333333em; margin-bottom:1.3333333333333333em}
h1 { font-size: 3em; line-height: 0.8888888888888888em; margin-top: -0em; margin-bottom: 0.4444444444444444em; }
h2 { font-size: 2em; line-height: 1.3333333333333333em; margin-top: -0em; margin-bottom: 0.6666666666666666em; 
	 font-weight:bolder;
	 letter-spacing : .05em;
	 }
h3 { font-size: 1.5em; line-height: 0.8888888888888888em; margin-top: -0em; margin-bottom: 0.8888888888888888em;  }
h4 { font-size: 1.2em; line-height: 1.1111111111111112em; margin-top: -0em; margin-bottom: 1.1111111111111112em; }
h5 { font-size: 1em; line-height: 1.3333333333333333em; margin-top: -0em; margin-bottom: 1.3333333333333333em; }
h6 { font-size: 1em; line-height: 1.3333333333333333em; margin-top: -0em; margin-bottom: 1.3333333333333333em; }


/* --------------------------------------------------------- */
/* ALIGNEMENTS DES CARACTERES CENTRES			     */
/* --------------------------------------------------------- */

h1, h2, h3, h4, h5, h6, p, blockquote {margin-bottom: 0em; margin-top:0.0em;padding:0 0 0 0;}
h1 { line-height: 1.3333333333333333em;}
h2 { line-height: 1.3333333333333333em; margin-bottom:0.0em}
h3 { line-height: 1.7777777777777777em;}
h3, h3.spip { margin-top:0.44444444444444444em; margin-bottom:-0.4444444444444em}
em, span {margin:0 ; padding:0}


/* --------------------------------------------------------- */
/* TEXT						             */
/* --------------------------------------------------------- */
p           { margin: 0 0 1.333333333333333em;}
p img.left  { float: left; margin: 1.333333333333333em 1.333333333333333em 1.333333333333333em 0; padding: 0; }
p img.right { float: right; margin: 1.333333333333333em 0 1.333333333333333em 1.333333333333333em; }
.small      { margin: 0em; line-height: 1.6666666666666em; }
.large      { line-height: 1.1111111111111em; margin: 0em; }
blockquote  { margin: 1.33333333333em;}
sup, sub    { line-height: 0; }
abbr,acronym { }
address     { margin: 0 0 1.33333333333333333333em;}
pre 			{ margin: 1.333333333333333333em 0; white-space: pre; }
pre,code,tt { line-height: 1.33333333333333333333; }


/* ----------------------------------------------------------- */
/* LISTS						       */
/* ----------------------------------------------------------- */

li ul, 
li ol       { margin:0 1.33333333333333333333em; }
ul, ol      { margin: 0 1.33333333333333333em 1.33333333333333333em 1.33333333333333333333em; }
dl          { margin: 0 0 1.333333333333333333em 0; }
dl dt       { }
dd          { margin-left: 1.33333333333333333333em;}


/* ----------------------------------------------------------- */
/* ALIGNEMENT TYPO SUR L'OEIL DU CARACTERE		       */
/* ----------------------------------------------------------- */

p 			{ margin-top:0.26em; margin-bottom:-0.26em}
blockquote	        { margin-top:0.08em; margin-bottom:-.080em} 
h1 			{ margin-top:0.26em; margin-bottom:-0.26em}
h2 			{ margin-top:0.26em; margin-bottom:-0.26em}
h3, h3.spip             { margin-top:0.44444444444444444em; margin-bottom:-0.4444444444444em}
h4 			{ margin-top:0.26em; margin-bottom:-0.26em}
/*h5 			{ margin-top:0.26em; margin-bottom:-0.26em}*/
h6 			{ margin-top:0.26em; margin-bottom:-0.26em}

abbr,acronym{margin-top:0.4444444444444em; margin-bottom:-0.444444444444444em}
abbr,acronym{border:none}

p			{padding: 0 0 1.333333333333333em;}
.small,.large {margin-top:0.4444444444444em; margin-bottom:-0.444444444444444em}


/* ----------------------------------------------------------- */
/* grid.css 						       */
/* ----------------------------------------------------------- */

/* ----------------------------------------------------------- */
/* METRIQUES DE LA PAGE :	   			       */
/* 6 COLONNES 	(146px) | GOUTIERRE 16px | TOTAL WIDTH : 956px */
/* CORPS TYPO BASE 12px | GRILLE TYPO 16px		       */
/*							       */
/* LARGEUR_COL = (TOTAL -((nb_col -1)*goutierre))/nb_col       */
/* ----------------------------------------------------------- */

body { font-size: 12px; line-height: 1.3333333333333333em; }

/* A container should group all your columns. */
.container {
  width: 956px;
  margin: 0 auto;
}

/* Use this class on any div.span / container to see the grid. */
.showgrid { 
  background: url(img/grid_c.png); 
}


/* Sets up basic grid floating and margin. */
.column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6 {
  float: left;
  margin-right: 16px;
}

/* The last column in a row needs this class. */
.last, div.last { margin-right: 0; }

/* Use these classes to set the width of a column. */
/* span-N = larg_col*N + (gouttiere*(N-1)) 			*/
.span-1  { width: 146px; }
.span-2  { width: 308px; }
.span-3  { width: 470px; }
.span-4  { width: 632px; }
.span-5  { width: 794px; }
.span-6  { width: 956px; margin-right: 0; }


/* Use these classes to set the width of an input. */
/* SPAN_EXTRA = 12px											*/
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8 {
  border-left-width: 1px!important;
  border-right-width: 1px!important;
  padding-left: 5px!important;
  padding-right: 5px!important;
}

/*	input.span-N = span-N - SPAN_EXTRA					*/
input.span-1, textarea.span-1 { width: 134px!important; }
input.span-2, textarea.span-2 { width: 296px!important; }
input.span-3, textarea.span-3 { width: 458px!important; }
input.span-4, textarea.span-4 { width: 620px!important; }
input.span-5, textarea.span-5 { width: 782px!important; }
input.span-6, textarea.span-6 { width: 944px!important; }


/* Add these to a column to append empty cols. */
/* .append-N =	span-N + gouttiere 					*/
.append-1  { padding-right: 162px; } 
.append-2  { padding-right: 324px; } 
.append-3  { padding-right: 486px; } 
.append-4  { padding-right: 648px; } 
.append-5  { padding-right: 810px; } 


/* Add these to a column to prepend empty cols. */
/* .prepend-N =	span-N + gouttiere 				*/
.prepend-1  { padding-left: 162px; } 
.prepend-2  { padding-left: 324px; } 
.prepend-3  { padding-left: 486px; } 
.prepend-4  { padding-left: 648px; } 
.prepend-5  { padding-left: 810px; } 
 

/* Border on right hand side of a column. */
/* TOTAL_BORDER = gouttiere					*/
div.border {
  padding-right: 7px;
  margin-right: 8px;
  border-right: 1px solid #bbb;
}

/* Border with more whitespace, spans one column. */
/* TOTAL_COLBORDER = larg_col + gouttiere * 2	  */
div.colborder {
  padding-right: 88px;
  margin-right: 89px;
  border-right: 1px solid #eee;
}

/* Use these classes on an element to push it into the 
next column, or to pull it into the previous column.  */
/* PULL-N = (larg_col + gouttiere) * -N 			*/
.pull-1 { margin-left: -162px; }
.pull-2 { margin-left: -324px; }
.pull-3 { margin-left: -486px; }
.pull-4 { margin-left: -648px; }
.pull-5 { margin-left: -810px; }
.pull-6 { margin-left: -972px; }
.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6 {float: left; position:relative;}

.push-0 { margin: 0 -0px   1.3333333333333333em 0px; }
.push-1 { margin: 0 -162px 1.3333333333333333em 162px; }
.push-2 { margin: 0 -324px 1.3333333333333333em 324px; }
.push-3 { margin: 0 -486px 1.3333333333333333em 486px; }
.push-4 { margin: 0 -648px 1.3333333333333333em 648px; }
.push-5 { margin: 0 -810px 1.3333333333333333em 810px; }
.push-6 { margin: 0 -972px 1.3333333333333333em 972px; }
.push-0, .push-1, .push-2, .push-3, .push-4, .push-5, .push-6,{float: right; position:relative;}


/* Misc classes and elements
-------------------------------------------------------------- */

/* In case you need to add a gutter above/below an element */
.prepend-top { 
  margin-top:1.3333333333333333em; 
}
.append-bottom { 
  margin-bottom:1.3333333333333333emem; 
}

/* Use a .box to create a padded box inside a column.  */ 
.box { 
  padding: 1.3333333333333333em; 
  margin-bottom: 1.3333333333333333em; 
  background: #E5ECF9; 
}

/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clearfix:after, .container:after {
  content: "\0020"; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
  overflow:hidden; 
}
.clearfix, .container {display: block;}

/* Regular clearing
   apply to column that should drop below previous ones. */
.clear { clear:both; }
 
 
/* ----------------------------------------------------------- */
/* BOX ET GOUTIERE															*/
/* ----------------------------------------------------------- */ 

.box { 
  padding: 1.3333333333333em; 
  margin-bottom: 1.333333333333em; 
}

/* In case you need to add a gutter above/below an element */
.prepend-top 		{ margin-top:1.33333333333333em; }
.append-bottom 	{ margin-bottom:1.333333333333333em; }
.prepend-top-2 	{ margin-top:2.66666666666666em; }
.append-bottom-2 	{ margin-bottom:2.66666666666666em; }
.prepend-top-3 	{ margin-top:3.9999999999999999em; }
.append-bottom-3 	{ margin-bottom:3.9999999999999999em; }
.prepend-top-4 	{ margin-top:5.3333333333333333em; }
.append-bottom-4 	{ margin-bottom:5.33333333333333em; }
.prepend-top-5 	{ margin-top:6.666666666666666em; }
.append-bottom-5 	{ margin-bottom:6.66666666666666em; }

/* ----------------------------------------------------------- */
/* Limite un element dans sa taille vertical							*/
/* ----------------------------------------------------------- */

.line-1{min-height:16px; max-height:16px;}
.line-2{min-height:32px; max-height:32px;}
.line-3{min-height:48px; max-height:48px;}
.cell-1{ min-height:64px; max-height:64px;}
.cell-2{ min-height:144px; max-height:144px;}
.cell-3{ min-height:224px; max-height:224px;}
.cell-4{ min-height:304px; max-height:304px;}
.cell-5{ min-height:384px; max-height:384px;}
.cell-6{ min-height:464px; max-height:464px;}
.cell-7{ min-height:544px; max-height:544px;}
.cell-8{ min-height:624px; max-height:624px;}




/* ------------------------------------------ */
/* PAGE LAYOUT			              */
/* ------------------------------------------ */
body {
	margin-top: 15px;
	margin-left:30px;
	margin-right:30px;
	margin-bottom:30px;
        width: 956px;
	background-color: #fff;
        font-family: sans-serif;
}

/* The project logo in the upper left-hand corner of each page */
div.logo {
  display: block;
  clear: both;
  text-align: center;
  vertical-align: bottom;
  font-weight: bold;
  color: #000;
  min-width: 200px;
}

/* The page title centered at the top of each page */
div.title {
  display: block;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  padding: 5px 0 0 18px;
  color: #558195;
  vertical-align: bottom;
  width: 100% ;
  color: white;
}

/* The login status message in the top right-hand corner */
div.status {
  display: block;
  text-align: right;
  padding: 6px 6px 2px 0;
  vertical-align: bottom;
  font-size: 0.8em;
  font-weight: normal;
  min-width: 200px;
  white-space: nowrap;
  color: white;
}

/* The header across the top of the page */
div.header {
  display: block;
  width: 100% ;
  background-color: #000;
}

/* The main menu bar that appears at the top of the page beneath
** the header */
div.mainmenu {
  padding: 5px 10px 5px 10px;
  font-size: 0.9em;
  font-weight: bold;
  text-align: left;
  letter-spacing: 1px;
  background-color: #000;
  color: white;
}

/* The submenu bar that *sometimes* appears below the main menu */
div.submenu, div.sectionmenu {
  padding: 3px 10px 3px 0px;
  font-size: 0.9em;
  text-align: center;
  background-color: #666;
  color: white;
}
div.mainmenu a, div.mainmenu a:visited, div.submenu a, div.submenu a:visited,
div.sectionmenu>a.button:link, div.sectionmenu>a.button:visited {
  padding: 3px 10px 3px 10px;
  color: white;
  text-decoration: none;
}
div.mainmenu a:hover, div.submenu a:hover, div.sectionmenu>a.button:hover {
  color: #558195;
  background-color: white;
}

/* All page content from the bottom of the menu or submenu down to
** the footer */
div.content {
  padding: 16px 0 0ex 2ex;
  font-family: serif;
  background-color: #fff;
}

/* Some pages have section dividers */
div.section {
  margin-bottom: 0px;
  margin-top: 1em;
  padding: 1px 1px 1px 1px;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #000;
  color: white;
  white-space: nowrap;
}

/* The "Date" that occurs on the left hand side of timelines */
div.divider {
  background: #a1c4d4;
  border: 2px #558195 solid;
  font-size: 1em; font-weight: normal;
  padding: .25em;
  margin: .2em 0 .2em 0;
  float: left;
  clear: left;
  white-space: nowrap;
}

/* The footer at the very bottom of the page */
div.footer {
  clear: both;
  font-size: 0.8em;
  margin-top: 12px;
  padding: 5px 10px 5px 10px;
  text-align: right;
  background-color: #000;
  color: white;
}

/* Hyperlink colors in the footer */
div.footer a { color: white; }
div.footer a:link { color: white; }
div.footer a:visited { color: white; }
div.footer a:hover { background-color: white; color: #558195; }

/* verbatim blocks */
pre.verbatim {
   background-color: #f5f5f5;
   padding: 0.5em;
}

/* The label/value pairs on (for example) the ci page */
table.label-value th {
  vertical-align: top;
  text-align: right;
  padding: 0.2ex 2ex;
}

